<include file="Public/header" title="订单管理" keywords="开源WEB开发框架" />
<div class="page-container">
    <include file="Public/nav" />
    <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        <include file="Public/user_nav" />
        <div class="page-title">
            <div class="title-env">
                <h1 class="title">订单列表</h1>
                <p class="description">显示所有用户订单列表</p>
            </div>
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li><a href="/AppAdmin/"><i class="fa-home"></i>主页</a></li>
                    <li class="active"> 订单管理</li>
                    <li class="active"><strong>订单列表</strong></li>
                </ol>
            </div>
        </div>
        <php>$order_status = array('fail'=>'订单失效','paid'=>'订单付款','success'=>'订单成功','settle'=>'订单结算');</php>
        <div class="row">
            <div class="panel panel-default col-sm-12">
                <div class="panel-heading">
                    <h3 class="panel-title">搜索订单</h3>
                    <div class="panel-options">
                        <a href="#" data-toggle="panel">
                            <span class="collapse-icon">–</span>
                            <span class="expand-icon">+</span>
                        </a>
                        <a href="#" data-toggle="remove">
                            ×
                        </a>
                    </div>
                </div>
                <form method="get">
                    <div class="panel-body">
                        <div class="row col-margin">
                            <div class="col-xs-2">
                                <input type="text" name="title" class="form-control" value="{:I('get.title')}" placeholder="商品名称" />
                            </div>
                            <div class="col-xs-2">
                                <input type="text" name="id" class="form-control" value="{:I('get.id')}" placeholder="订单号" />
                            </div>
                            <div class="col-xs-2">
                                <input type="text" name="item_id" class="form-control" value="{:I('get.item_id')}" placeholder="商品ID" />
                            </div>
                            <div class="col-xs-2">
                                <select name="settle_status" class="form-control" id="admin-user">
                                    <option value="">结算状态</option>
                                    <option value="Y"
                                    <if condition="I('get.settle_status') eq 'Y'">selected</if>
                                    >已申请</option>
                                    <option value="N"
                                    <if condition="I('get.settle_status') eq 'N'">selected</if>
                                    >未申请</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select name="shop_type" class="form-control">
                                    <option value="0">选择订单来源</option>
                                    <foreach name="shop_type" item="v" key="k">
                                        <option value="{$k}"
                                        <if condition="I('get.shop_type') eq $k">selected</if>
                                        >{$v}</option>
                                    </foreach>
                                </select>
                            </div>
                            <div class="col-xs-1">
                                <input type="submit" class="btn btn-secondary btn-single" value="搜索" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> 订单总数({$count}) 订单总额：￥{$amount}元</h3>
                        <div class="panel-options"><a href="#"> <i class="linecons-cog"></i> </a>
                            <a href="#" data-toggle="panel">
                                <span class="collapse-icon">&ndash;</span> <span class="expand-icon">+</span> </a>
                            <a href="#" data-toggle="reload"> <i class="fa-rotate-right"></i> </a>
                            <a href="#" data-toggle="remove">
                                &times; </a></div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true" style="width: 101%;">
                            <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th width="20%">商品标题</th>
                                    <th width="30%">订单信息</th>
                                    <th width="25%">价格</th>
                                    <th width="25%">时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="list" item="vo">
                                    <tr>
                                        <td>
                                            <a href="https://detail.tmall.com/item.htm?id={$vo['item_id']}" target="_blank" style="color: #00A0E9;">{$vo.title}</a><br />
                                        </td>
                                        <td>
                                            <font style="color: #2D9DF4;">订单编号：{$vo.order_id}</font><br>
                                            <font style="color: #5CA323">订单类型：{$vo.order_type}</font><br>
                                            订单状态：{$order_status[$vo['pay_status']]}<br>
                                            推广用户：{$vo.username}
                                        </td>
                                        <td style="color:red">
                                            付款金额：{$vo.total_money}<br>
                                            佣金比例：{$vo.commission_rate}%<br>
                                            商品数量：{$vo.number}<br>
                                            实际收入：{$vo.fee}
                                        </td>
                                        <td>
                                            创建时间：{$vo.create_time}<br>
                                            结算时间：{$vo.earning_time}
                                        </td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                        <div class="page">
                            <ul class="pagination">{$page}</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public/footer" />
    </div>
    <include file="Public/footer_Js" />
</div>