s
<include file="Public/header" title="系统配置" keywords="开源WEB开发框架"/>
<div class="page-container">
    <include file="Public/nav"/>
    <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        <include file="Public/user_nav"/>
        <div class="page-title">
            <div class="title-env">
                <h1 class="title">系统配置</h1>
                <p class="description">配置信息</p>
            </div>
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li><a href="/AppAdmin/"><i class="fa-home"></i>主页</a></li>
                    <li class="active"> 站点设置</li>
                    <li class="active"><strong>系统配置</strong></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" style="display: none" id="success">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <strong></strong>
                </div>
            </div>
            <div class="col-md-12">
                <div class="alert alert-danger" style="display: none;" id="fail">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <strong></strong>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-tabs-justified">
                    <li class="active">
                        <a href="#home-3" data-toggle="tab">
                            <span class="visible-xs"><i class="fa-home"></i></span>
                            <span class="hidden-xs">基础配置</span>
                        </a>
                    </li>
                    <!--  <li>
                          <a href="#profile-3" data-toggle="tab">
                              <span class="visible-xs"><i class="fa-user"></i></span>
                              <span class="hidden-xs">APP启动配置</span>
                          </a>
                      </li>-->
                    <li>
                        <a href="#messages-3" data-toggle="tab">
                            <span class="visible-xs"><i class="fa-envelope-o"></i></span>
                            <span class="hidden-xs">APP更新配置</span>
                        </a>
                    </li>
                    <li>
                        <a href="#jiguang-3" data-toggle="tab">
                            <span class="visible-xs"><i class="fa-envelope-o"></i></span>
                            <span class="hidden-xs">APP极光推送配置</span>
                        </a>
                    </li>
                    <li>
                        <a href="#settings-3" data-toggle="tab">
                            <span class="visible-xs"><i class="fa-cog"></i></span>
                            <span class="hidden-xs">轻淘客配置</span>
                        </a>
                    </li>
                    <li>
                        <a href="#wechat-3" data-toggle="tab">
                            <span class="visible-xs"><i class="fa-cog"></i></span>
                            <span class="hidden-xs">大微信客配置</span>
                        </a>
                    </li>
                    <li>
                        <a href="#mili-3" data-toggle="tab">
                            <span class="visible-xs"><i class="fa-cog"></i></span>
                            <span class="hidden-xs">迷离团队高佣配置</span>
                        </a>
                    </li>
                    <li>
                        <a href="#search-3" data-toggle="tab">
                            <span class="visible-xs"><i class="fa-cog"></i></span>
                            <span class="hidden-xs">搜索词频过滤</span>
                        </a>
                    </li>
                    <li>
                        <a href="#inbox-3" data-toggle="tab">
                            <span class="visible-xs"><i class="fa-bell-o"></i></span>
                            <span class="hidden-xs">开发中</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home-3">
                        <div>
                            <form class="save">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="web_url">站点域名</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control check" id="web_url" name="web_url"
                                               value="{$content['web_url']}" placeholder="请输入站点域名！">
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="manage_domain_url">管理后台域名</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control check" id="manage_domain_url"
                                               name="manage_domain_url" value="{$content['manage_domain_url']}"
                                               placeholder="请输入管理后台域名！">
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="api_domain_url">接口域名</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control check" id="api_domain_url"
                                               name="api_domain_url" value="{$content['api_domain_url']}"
                                               placeholder="请输入接口域名！">
                                    </div>
                                    <div style="clear: both"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="wechat_mp_domain_url">公众号域名</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control check" id="wechat_mp_domain_url"
                                               name="wechat_mp_domain_url" value="{$content['wechat_mp_domain_url']}"
                                               placeholder="请输入公众号域名！">
                                    </div>
                                    <div style="clear: both"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="share_detail_kuaizhan_domain">分享商品快站域名（空表示不使用快站）</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="share_detail_kuaizhan_domain"
                                               name="share_detail_kuaizhan_domain" value="{$content['share_detail_kuaizhan_domain']}" >
                                    </div>
                                    <div style="clear: both"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="with_time">提现时间</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control check" id="with_time"
                                               name="balance_time" value="{$content['balance_time']}"
                                               placeholder="请输入每月提现日期！">
                                    </div>
                                    <div style="clear: both"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="with_time">宅喵生活淘宝推广位ID</label>
                                    <div class="col-sm-8">
                                        <textarea style="overflow: hidden" class="form-control check col-sm-8" rows="5" name="zm_tao_bao_site_id" placeholder="请输入宅喵生活淘宝推广位ID！">{$content['zm_tao_bao_site_id']}</textarea>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 "></div>
                                    <div class="col-sm-10">
                                        <input type="submit" class="btn btn-secondary  btn-single" value="保存">
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane" id="profile-3">
                        <form class="save">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="app-img">图片地址</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="app-img" name="AppLoadImg[url]"
                                           value="{$content['AppLoadImg']['url']}" placeholder="请输入图片地址！">
                                </div>
                                <div style="clear: both"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 "></div>
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-secondary  btn-single" value="保存">
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="messages-3">
                        <div class="col-md-6">
                            <!-- Default panel -->
                            <form class="save">
                                <div class="panel panel-default panel-border">
                                    <div class="panel-heading">
                                        Android版本升级配置
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">是否强制更新</label>
                                            <div class="col-sm-8">
                                                <label>
                                                    <input type="radio" name="AppUpdateAndroid[is_force]"
                                                    <eq name="content['AppUpdateAndroid']['is_force']" value="Y">
                                                        checked="checked"
                                                    </eq>
                                                    value="Y" />是
                                                </label>
                                                <label>
                                                    <input type="radio" name="AppUpdateAndroid[is_force]"
                                                    <eq name="content['AppUpdateAndroid']['is_force']" value="N">
                                                        checked="checked"
                                                    </eq>
                                                    value="N" >否
                                                </label>
                                            </div>
                                            <div style="clear: both"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="an-version">版本号</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control check" id="an-version"
                                                       name="AppUpdateAndroid[version]"
                                                       value="{$content['AppUpdateAndroid']['version']}"
                                                       placeholder="请输入版本号！">
                                            </div>
                                            <div style="clear: both"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="an-url">下载地址</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control check" id="an-url"
                                                       name="AppUpdateAndroid[url]"
                                                       value="{$content['AppUpdateAndroid']['url']}"
                                                       placeholder="请输入下载地址！">
                                            </div>
                                            <div style="clear: both"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="an-content">更新内容</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control check" placeholder="请输入更新内容！"
                                                          name="AppUpdateAndroid[description]" rows="5" id="an-content">{$content['AppUpdateAndroid']['description']}</textarea>
                                            </div>
                                            <div style="clear: both"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5"></div>
                                        <div class="col-sm-7">
                                            <input type="submit" class="btn btn-secondary  btn-single" value="保存">
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <!-- Bordered panel -->
                            <form class="save">
                                <div class="panel panel-default panel-border">
                                    <div class="panel-heading">
                                        Ios版本升级配置
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">是否强制更新</label>
                                            <div class="col-sm-8">
                                                <label>
                                                    <input type="radio" name="AppUpdateIos[is_force]"
                                                    <eq name="content['AppUpdateIos']['is_force']" value="Y">
                                                        checked="checked"
                                                    </eq>
                                                    value="Y" />是
                                                </label>
                                                <label>
                                                    <input type="radio" name="AppUpdateIos[is_force]"
                                                    <eq name="content['AppUpdateIos']['is_force']" value="N">
                                                        checked="checked"
                                                    </eq>
                                                    value="N" >否
                                                </label>
                                            </div>
                                            <div style="clear: both"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="ios-version">版本号</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control check" id="ios-version"
                                                       name="AppUpdateIos[version]"
                                                       value="{$content['AppUpdateIos']['version']}"
                                                       placeholder="请输入版本号！">
                                            </div>
                                            <div style="clear: both"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="ios-url">下载地址</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control check" id="ios-url"
                                                       name="AppUpdateIos[url]"
                                                       value="{$content['AppUpdateIos']['url']}" placeholder="请输入下载地址！">
                                            </div>
                                            <div style="clear: both"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="ios-content">更新内容</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control check" placeholder="请输入更新内容！"
                                                          name="AppUpdateIos[description]" rows="5" id="ios-content">{$content['AppUpdateIos']['description']}</textarea>
                                            </div>
                                            <div style="clear: both"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-5"></div>
                                        <div class="col-sm-7">
                                            <input type="submit" class="btn btn-secondary  btn-single" value="保存">
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            </form>
                        </div>
                        <div style="clear: both"></div>
                        </form>
                    </div>
                    <div class="tab-pane" id="jiguang-3">
                        <form class="save">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="app-key">AppKey</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control check" id="app-key" name="JPUSH[app_key]"
                                           value="{$content['JPUSH']['app_key']}" placeholder="请输入极光推送appKey！">
                                </div>
                                <div style="clear: both"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="secret">Secret</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control check" id="secret" name="JPUSH[app_secret]"
                                           value="{$content['JPUSH']['app_secret']}" placeholder="请输入极光推送Secret！">
                                </div>
                                <div style="clear: both"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 "></div>
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-secondary  btn-single" value="保存">
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="settings-3">
                        <form class="save">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否启用</label>
                                <div class="col-sm-10">
                                    <div class="form-block">
                                        <label>
                                            <input type="radio" name="QTK[is_use]"
                                            <eq name="content['QTK']['is_use']" value="Y">checked="checked"</eq>
                                            value="Y" />是
                                        </label>
                                        <label>
                                            <input type="radio" name="QTK[is_use]"
                                            <eq name="content['QTK']['is_use']" value="N">checked="checked"</eq>
                                            value="N" >否
                                        </label>
                                    </div>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="qtk-url">请求地址</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control check" id="qtk-url" name="QTK[request_url]"
                                           value="{$content['QTK']['request_url']}" placeholder="请输入请求地址！">
                                </div>
                                <div style="clear: both"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="qtk-re-url">刷新地址</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control check" id="qtk-re-url"
                                           name="QTK[refresh_url]" value="{$content['QTK']['refresh_url']}"
                                           placeholder="请输入刷新地址！">
                                </div>
                                <div style="clear: both"></div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2 "></div>
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-secondary  btn-single" value="保存">
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="wechat-3">
                        <form class="save">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">大微信客cookie</label>
                                <div class="col-sm-10">
                                    <div class="form-block">
                                        <textarea class="form-control check" placeholder="请输入请求cookie！"
                                                  name="DWXK[cookie]" rows="10">{$content['DWXK']['cookie']}</textarea>
                                    </div>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 "></div>
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-secondary  btn-single" value="保存">
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="mili-3">
                        <form class="save">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否启用</label>
                                <div class="col-sm-10">
                                    <div class="form-block">
                                        <label>
                                            <input type="radio" name="MILI[is_use]"
                                            <eq name="content['MILI']['is_use']" value="Y">checked="checked"</eq>
                                            value="Y" />是
                                        </label>
                                        <label>
                                            <input type="radio" name="MILI[is_use]"
                                            <eq name="content['MILI']['is_use']" value="N">checked="checked"</eq>
                                            value="N" >否
                                        </label>
                                    </div>
                                </div>
                                <div style="clear: both"></div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2 "></div>
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-secondary  btn-single" value="保存">
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="search-3">
                        <form class="save">
                            <div class="form-group">
                                <label class="col-sm-12 control-label"
                                       for="app-img">用户id<span style="color: red">（多个用户id使用英文逗号隔开）</span></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control check" placeholder="请输入用户id！"
                                              name="SearchUserIds" rows="3">{$content['SearchUserIds']}</textarea>
                                </div>
                            </div>
                            <div style="clear: both;margin-bottom: 20px"></div>
                            <div class="form-group">
                                <div class="col-sm-2 "></div>
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-secondary  btn-single" value="保存">
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="inbox-3">
                        <p>正在开发中......</p>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public/footer"/>
    </div>
    <include file="Public/footer_Js"/>
    <script src="__JS__/ajaxfileupload.js"></script>
    <script>
        $(function () {
            $('input[type=submit]').click(function () {
                var status = true;
                var post_url = "{:U('Config/edit')}";
                var val = "";

                var _this = $(this);
                $(this).parents('form.save').find('.check').each(function () {
                    val = $(this).val();
                    val = trim(val);
                    if (!val) {
                        $('.alert-danger strong').text($(this).attr('placeholder'));
                        $('.alert-danger').show();
                        setTimeout(function () {
                            $('.alert-danger').hide();
                        }, 3000)
                        status = false;
                        return false;
                    }
                });
                if (status) {
                    $.post(post_url, _this.parents('form').serialize(), function (res) {
                        if (res.status == 1) {
                            $('.alert-success strong').text(res.info);
                            $('.alert-success').show();
                            setTimeout(function () {
                                $('.alert-success').hide();
                            }, 3000)
                        } else {
                            $('.alert-danger strong').text(res.info);
                            $('.alert-danger').show();
                            setTimeout(function () {
                                $('.alert-danger').hide();
                            }, 3000)
                        }
                    })
                }
                return false;
            });
        })

        //异步上传图片
        function ajaxFileUpload(name, trueInput, img, now) {
            //判断是否有选择上传文件
            var imgPath = $('#' + name).val();
            if (!imgPath) {
                setInputClass('order_img_url', 1, "请选择上传图片！");
                return false;
            }
            $.ajaxFileUpload({
                url: "{:U('Common/uploadImgLocal')}",
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: name, //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data) {
                    if (data.code == 1) {
                        InfoMsg(data.code, data.msg);
                        return false;
                    } else {
                        $('#' + img).attr({
                            'href': data.url,
                            'class': 'upIMG' + name
                        }).find('img').attr({'src': data.url, 'class': 'col-sm-12 upIMG' + name});
                        $('#' + trueInput).val(data.url);
                        InfoMsg(data.code, data.msg);
                    }
                },
                error: function (e) {
                    setInputClass('order_img_url', 1, '通讯失败');
                }
            });
        }

        //设置表单提醒与错误
        function InfoMsg(code, msg) {
            if (code == 1) {
                $('#fail').find('strong').text(msg);
                $('#fail').show();
                setTimeout(function () {
                    $('#fail').hide();
                }, 3000)
            } else {
                $('#success').find('strong').text(msg);
                $('#success').show();
                setTimeout(function () {
                    $('#success').hide();
                }, 3000)
            }

        }

        function trim(str) {
            var result;
            result = str.replace(/(^\s+)|(\s+$)/g, "");
            result = result.replace(/\s/g, "");
            return result;
        }
    </script>
</div></html>