<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Xenon Boostrap Admin Panel" />
    <meta name="author" content="" />
    <title>爱分享 - 淘店客</title>
    <link rel="stylesheet" href="__CSS__/share.css?v=20170904">
    <script src="__JS__/jquery-1.11.1.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="page-body">
<header>
    <if condition="ACTION_NAME neq 'index'">
        <div onclick="javascript:history.go(-1);" class="back">
            <img src="__IMG__/share_back.png" width="20px">
        </div>
    </if>
    <div class="text">爱分享</div>
</header>
