<include file="Public/header" title="顾客管理"/>
<div class="page-container">
    <include file="Public/nav"/>
    <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        <include file="Public/user_nav"/>
        <div class="page-title">
            <div class="title-env">
                <h1 class="title">顾客管理</h1>
                <p class="description">设定后台顾客管理信息。</p>
            </div>
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li><a href="{:U('Index/index')}"><i class="fa-home"></i>主页</a></li>
                    <li class="active">站点设置</li>
                    <li class="active"><strong>商家管理</strong></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default col-sm-12">
                <div class="panel-heading">
                    <h3 class="panel-title">快捷操作</h3>
                    <div class="panel-options">
                        <a href="#" data-toggle="panel">
                            <span class="collapse-icon">–</span>
                            <span class="expand-icon">+</span>
                        </a>
                        <a href="#" data-toggle="remove">×</a>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row col-margin">
                        <form method="get" action="{:U('Wechat/getCustomerInfo')}">
                            <div class="row col-margin">
                                <div class="col-xs-2">
                                    <input type="text" name="proxy_pid" class="form-control" placeholder="请输入代理pid"/>
                                </div>
                                <div class="col-xs-2">
                                    <input type="text" name="nickname" class="form-control" placeholder="请输入顾客姓名"/>
                                </div>
                                <div class="col-xs-1">
                                    <input type="submit" class="btn btn-secondary btn-single" value="搜索"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="alert alert-success" style="display: none">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong></strong>
            </div>
        </div>
        <div class="col-md-12">
            <div class="alert alert-danger" style="display: none;">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">商家管理</h3>
                        <div class="panel-options">
                            <a href="#"> <i class="linecons-cog"></i> </a>
                            <a href="#" data-toggle="panel">
                                <span class="collapse-icon">&ndash;</span>
                                <span class="expand-icon">+</span>
                            </a>
                            <a href="#" data-toggle="reload"> <i class="fa-rotate-right"></i> </a>
                            <a href="#" data-toggle="remove"> &times; </a>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk"
                             data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
                            <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>用户名称</th>
                                    <th>用户头像</th>
                                    <th>所在地区</th>
                                    <th>注册时间</th>
                                    <th>所属代理</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="customer" id="vo">
                                    <tr>
                                        <th>{$vo.id}</th>
                                        <td>{$vo.nickname}</td>
                                        <td><img src="{$vo.headimgurl}" width="70px" height="70px"/></td>
                                        <td>{$vo.country}-{$vo.province}-{$vo.city}</td>
                                        <td>{$vo.add_time|date='Y-m-d H:i', ###}</td>
                                        <td>{$user[$vo['proxy_pid']]['real_name']}</td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                        <div class="page">
                            <ul class="pagination">{$page}</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public/footer"/>
    </div>
</div>

<include file="Public/footer_Js"/>
<script type="text/javascript">
    $("#department_id").change(function () {
        var id = $(this).val();
        var get_url = "{:U('Merchant/getDepartmenPersonnel')}";
        $.get(get_url, {id: id}, function (res) {
            var l = "";
            l += "<option value=''>--请选择--</option>";
            if (res.code == 0) {
                for (var i = 0; i < res.data.length; i++) {
                    l += "<option value='" + res.data[i].id + "'>" + res.data[i].full_name + "</option>";
                }
            }
            $('#admin_id').html(l);
        });

    });
</script>
<script type="text/javascript">
    function del(id) {
        $res = confirm('确定删除该商家');
        if ($res) {
            var post_url = "{:U('Merchant/del')}";
            var index = "{:U('Merchant/index')}";
            $.post(post_url, {'id': id}, function (res) {
                if (res.status == 1) {
                    $('.alert-success strong').text(res.info);
                    $('.alert-success').show();
                    setTimeout(function () {
                        $('.alert-success').hide();
                    }, 3000);
                    window.location.href = index;
                } else {
                    $('.alert-danger strong').text(res.info);
                    $('.alert-danger').show();
                    setTimeout(function () {
                        $('.alert-danger').hide();
                    }, 3000);
                }
            })
            return true;
        } else {
            return false;
        }
    }
</script>