<footer class="main-footer sticky footer-type-1">
				
				<div class="footer-inner">
				
					<!-- Add your copyright text here -->
					<div class="footer-text">
						&copy; 2017 
						<strong>淘店客代理系统</strong> 
						Technical Support <a href="Tel:15991606450" target="_blank" title="">Guonan</a> - EMail <a href="footer.html" title="" target="_blank">4396988@qq.com</a>
					</div>
					
					
					<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
					<div class="go-up">
					
						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>
						
					</div>
					
				</div>
				
</footer>
	
	
