<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

   <h2>以下商品为各位特卖卖出的商品的排序（注意：商家的佣金会经常变动，显示的佣金不为参考标准，可以单价标题链接通过安装的插件及时查看当前的佣金）</h2>
   <table>
       <tr>
           <td>商品标题</td>
           <td>购买时间</td>
           <td>商品单价</td>
           <td>出单数量</td>
           <td>佣金比率</td>
       </tr>
       <volist name="data" id="dd">
         <tr>
             <td width="30%"><a href="{$dd.auctionUrl}" target="_blank">{$dd.title}</a>
                 <p><img width="100" height="100" src="{$dd.img}">
                 </p>
             </td>
             <td>{$dd.click_time}</td>
             <td>{$dd.total_fee}</td>
             <td>此件商品在特卖共卖出<span style="color: red;">{$dd.cout}件</span></td>
             <td style="color: red;">{$dd.discount_rate}</td>
         </tr>
       </volist>
   </table>
</body>
</html>