<include file="Common:header" />
<include file="Common:nav" />

<div id="page-wrapper">
    <include file="Common:message_tip" />
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">添加文章</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="index.html">文章管理</a></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <form role="form" id='check-form' method='post' action="{:U('News/add')}">
                                <div class="form-group">
                                    <label>标题</label>
                                    <input class="form-control" name='article[title]' type="text">
                                </div>
                                <div class="form-group">
                                    <label>文章类型</label>
                                    <div class="col-lg-12">
                                        <div class="col-lg-3">
                                            <select class="form-control" name='article[newstype]' >
                                                <option value='专辑'>专辑</option>
                                                <option value='图集'>图集</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>写作平台</label>
                                    <div class="col-lg-12">
                                        <div class="col-lg-3">
                                            <select class="form-control" name='article[platform]' >
                                                <option value='头条'>头条</option>
                                                <option value='特卖'>特卖</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>审核状态</label>
                                    <div class="col-lg-12">
                                        <div class="col-lg-3">
                                            <select class="form-control" name='article[shenhe]' >
                                                <option value='审核中'>审核中</option>
                                                <option value='已审核'>已审核</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>新旧版</label>
                                    <div class="col-lg-12"> 
                                        <div class="col-lg-3">                                  
                                        <select class="form-control" name='article[type]' >
                                            <option value='新版文章'>新版文章</option>
                                            <option value='新版文章'>旧版文章</option>
                                        </select>                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>领域</label>
                                    <div class="col-lg-12">
                                        <div class="col-lg-3">
                                            <select class="form-control" name='article[lingyu]' >
                                                <option value='潮女搭配师'>潮女搭配师</option>
                                                <option value='型男塑造师'>型男塑造师</option>
                                                <option value='居家巧匠'>居家巧匠</option>
                                                <option value='母婴大人'>母婴大人</option>
                                                <option value='美妆老师'>美妆老师</option>
                                                <option value='数码极客'>数码极客</option>
                                                <option value='文娱先锋'>文娱先锋</option>
                                                <option value='时尚车主'>时尚车主</option>
                                                <option value='户外'>户外</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="button" onclick="return ajax_check_submit_from(this);" check_url="{:U('News/check_add_edit_data')}" id="btn-add-edit-goods"  class="btn btn-primary" value="提交"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>
<include file="Common:footer" />

<script>
// 图片上传
var UPLOAD_URL = "{:U('Goods/uploadImg',array('type'=>'DDHomeMerchantImage'))}";

$(function() {
    // 商家团单列表 根据选择的城市 返回商家
    $('select.merchant-category-op').change(function() {
        var $this = $(this);
        var fid = $this.val();
        var href = $this.attr('load_href');
        var op_obj_id = $this.attr('load_select_id');
        var $op_obj = $(op_obj_id);
        var $tip = $('#merchant-category-load-tip');

        if (!fid) {
            return false;
        }
        if (!href) {
            return false;
        }
        if (!op_obj_id) {
            return false;
        }
        if ($this.hasClass('disabled')) {
            return false;
        }
        $this.addClass('disabled');
        $this.attr('disabled', true);
        $tip.html('正在加载子分类,请稍后...');
        $op_obj.html("<option value=''>--请选择--</option>");

        get_data($this,$op_obj,href,{fid: fid},$tip);

        var agent_href = $this.attr('load_agent_href');
        var $agent_op_obj = $($this.attr('load_agent_select_id'));

        if (agent_href && $agent_op_obj) {
            get_data($this,$agent_op_obj,agent_href,{cid: fid});
        }
        return false;

        function get_data(obj,op_obj,href,params,tip=null) {
            $.post(href, params, function(res) {
                obj.removeClass('disabled');
                obj.attr('disabled', false);
                if (tip) {
                    tip.html('');
                }
                if (res.code == 0 && res.data) {
                    var op_select_value = op_obj.attr('select_value');
                    var option_arr = [];
                    option_arr.push("<option value=''>--请选择--</option>");
                    for (var i = 0; i < res.data.length; i++) {
                        var option_str = "<option value='" + res.data[i].id + "'>" + res.data[i].name + "</option>";
                        if (op_select_value && op_select_value == res.data[i].id) {
                            option_str = "<option value='" + res.data[i].id + "' selected='selected'>" + res.data[i].name + "</option>";
                        }
                        option_arr.push(option_str);
                    }
                    op_obj.html(option_arr.join(''));
                    op_obj.change();
                    return false;
                }
                return false;
            }, 'json');
        }
    });
    // $('#merchant-province-id').change();
});
</script>