<include file="Public/header" title="ThinkPHP框架" keywords="开源WEB开发框架" />
<div class="page-container">
<include file="Public/nav" />
<div class="main-content"> 
  
  <!-- User Info, Notifications and Menu Bar --> 
  <include file="Public/user_nav" />
  <div class="page-title">
    <div class="title-env">
      <h1 class="title">用户管理</h1>
      <p class="description">显示所有用户信息</p>
    </div>
    <div class="breadcrumb-env">
      <ol class="breadcrumb bc-1">
        <li> <a href="dashboard-1.html"><i class="fa-home"></i>主页</a> </li>
        <li class="active"> <strong>用户管理 </strong></li>
    
      </ol>
    </div>
  </div>
  	<div class="row">
				<div class="col-sm-12">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">用户信息修改</h3>
							<div class="panel-options">
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								<a href="#" data-toggle="remove">
									&times;
								</a>
							</div>
						</div>
						<div class="panel-body">
							
							<form role="form" method="post" class="form-horizontal">
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-1">用户昵称</label>
									
									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-1" name="username" value="{$userinfo['username']}" placeholder="用户昵称">
									</div>
								</div>
								
								<div class="form-group-separator"></div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-2">密码</label>
									
									<div class="col-sm-10">
										<input type="password" name="pwd" class="form-control" id="field-2" placeholder="如需要修改密码，请输入新密码。">
									</div>
								</div>
								
								<div class="form-group-separator"></div>
                                
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-1">Email</label>
									
									<div class="col-sm-10">
										<input type="email" class="form-control" id="field-1" value="{$userinfo['email']}" name="email" placeholder="您的电子邮箱">
									</div>
								</div>
								
								<div class="form-group-separator"></div>
                                
                                <div class="form-group">
									<label class="col-sm-2 control-label" for="field-1">QQ</label>
									
									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-1"value="{$userinfo['qq']}" name="qq" placeholder="您的QQ号">
									</div>
								</div>
								
								<div class="form-group-separator"></div>
                                
                                <div class="form-group">
									<label class="col-sm-2 control-label" for="field-1">电话号码</label>
									
									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-1" value="{$userinfo['mobile']}" name="mobile" placeholder="请输入13位手机号码">
									</div>
								</div>
								
								<div class="form-group-separator"></div>
                                
                                <div class="form-group">
									<label class="col-sm-2 control-label" for="field-1">真实姓名</label>
									
									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-1" value="{$userinfo['real_name']}" name="real_name" placeholder="用户真实名称">
									</div>
								</div>
                                <div class="form-group-separator"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-1">支付宝账号</label>
									
									<div class="col-sm-10">
										<input type="text" class="form-control" id="field-1" value="{$userinfo['bank_account']}" name="bank_account" placeholder="支付宝账号">
									</div>
								</div>
                                <div class="form-group-separator"></div>
								<div class="form-group">
                                	<div class="col-sm-2 "></div>
                             	   <div class="col-sm-10">
									<input type="submit" class="btn btn-secondary  btn-single" value="修改">
                                    </div>
									
								</div>
								
								
							</form>
							
						</div>
					</div>
					
				</div>
			</div>
<include file="Public/footer" /> </div>
<include file="Public/footer_Js" />