	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>青团快店返利系统管理后台</title>
    <link href="{$Think.BASE_URL}/__PLUGINS_PATH__/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$Think.BASE_URL}/__PLUGINS_PATH__/Font-Awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{$Think.BASE_URL}/__CSS_PATH__/animate.min.css" rel="stylesheet">
    <link href="{$Think.BASE_URL}/__CSS_PATH__/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{$Think.BASE_URL}/__CSS_PATH__/style.min862f.css?v=4.1.0" rel="stylesheet">

