	



	<!-- Bottom Scripts -->
	<script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/TweenMax.min.js"></script>
	<script src="__JS__/resizeable.js"></script>
	<script src="__JS__/joinable.js"></script>
	<script src="__JS__/xenon-api.js"></script>
	<script src="__JS__/xenon-toggles.js"></script>


	<!-- Imported scripts on this page -->
	<script src="__JS__/devexpress-web-14.1/js/globalize.min.js"></script>
	<script src="__JS__/devexpress-web-14.1/js/dx.chartjs.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="__JS__/xenon-custom.js"></script>

</body>
</html>