<div class="sidebar-menu toggle-others fixed">
			
			<div class="sidebar-menu-inner">	
				
				<header class="logo-env">
					
					<!-- logo -->
					<div class="logo">
						<a href="dashboard-1.html" class="logo-expanded">
							<img src="__CSSImg__/logo@2x.png" width="80" alt="" />
						</a>
						
						<a href="dashboard-1.html" class="logo-collapsed">
							<img src="__CSSImg__/logo-collapsed@2x.png" width="40" alt="" />
						</a>
					</div>
					
					<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
					<div class="mobile-menu-toggle visible-xs">
						<a href="#" data-toggle="user-info-menu">
							<i class="fa-bell-o"></i>
							<span class="badge badge-success">7</span>
						</a>
						
						<a href="#" data-toggle="mobile-menu">
							<i class="fa-bars"></i>
						</a>
					</div>
					
					<!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
					<div class="settings-icon">
						<a href="#" data-toggle="settings-pane" data-animate="true">
							<i class="linecons-cog"></i>
						</a>
					</div>
					
								
				</header>
						
				
						
				<ul id="main-menu" class="main-menu">
					<!-- add class "multiple-expanded" to allow multiple submenus to open -->
					<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
					<li>
						<a href="/index.php/AppManage/Finance/">
							<i class="linecons-cog"></i>
							<span class="title">财务管理</span>
						</a>
						<ul>
							<li>
								<a href="/index.php/AppManage/Finance/">
									<span class="title">代理结算</span>
								</a>
							</li>
                            <li>
								<a href="/index.php/AppManage/Finance/ranking">
									<span class="title">消费排行</span>
								</a>
							</li>
                            <li>
								<a href="/index.php/AppManage/Finance/statistical">
									<span class="title">数据统计</span>
								</a>
							</li>
							
						</ul>
					</li>
				   <li>
						<a href="/index.php/AppManage/order/">
							<i class="linecons-star"></i>
							<span class="title">订单管理</span>
						</a>
					</li>
                   <li>
						<a href="/index.php/AppManage/Goods/">
							<i class="linecons-star"></i>
							<span class="title">商品管理</span>
						</a>
					</li>
                    <li>
						<a href="/index.php/AppManage/User/">
							<i class="linecons-star"></i>
							<span class="title">会员管理</span>
						</a>
					</li>
					<li>
						<a href="/index.php/AppManage/Auth/logout">
							<i class="linecons-star"></i>
							<span class="title">退出登陆</span>
						</a>
					</li>
					
				</ul>
						
			</div>
			
		</div>