<script type="text/javascript">
    document.getElementById("pf_seach").style.display = "none";
    window.onscroll = function () {
        if (document.documentElement.scrollTop + document.body.scrollTop > 100) {
            document.getElementById("pf_seach").style.display = "block";
        }
        else {
            document.getElementById("pf_seach").style.display = "none";
        }
    }
</script>

<script src="__JS__/idangerous.swiper.min.js"></script>
<script src="__JS__/common_phone.js"></script>
<script src="__JS__/layer.js"></script>