<include file="Public/header" title="百姓网服务号-推广人员管理"/>
<div class="page-container">
    <include file="Public/nav"/>
    <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        <include file="Public/user_nav"/>
        <div class="page-title">
            <div class="title-env">
                <h1 class="title">百姓网服务号->推广人员列表</h1>
                <p class="description">显示所有推广人员</p>
            </div>
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li><a href="/AppAdmin/"><i class="fa-home"></i>主页</a></li>
                    <li><a href="{:U('index')}">百姓网服务号</a></li>
                    <li class="active"><strong>推广人员列表</strong></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">推广人员列表</h3>
                        <div class="panel-options">
                            <a href="javascript:;" class="btn btn-secondary btn-single add-generalize"
                               style="color: #fff">
                                添加推广员
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th width="10%">推广员名称</th>
                                    <th width="15%">推广员二维码</th>
                                    <th width="20%">添加时间</th>
                                    <th width="10%">历史关注数据</th>
                                    <th width="10%">今日关注数据</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="data" item="vo">
                                    <tr>
                                        <td>{$vo.name}</td>
                                        <td><img src="{$vo.img_url}" width="50"/></td>
                                        <td>{$vo.add_time|date="Y-m-d H:i:s",###}</td>
                                        <td>关注：{$vo.all_num}<br>取消：{$vo.all_del_num}</td>
                                        <td>关注：{$vo.today_num}<br>取消：{$vo.today_del_num}</td>
                                        <td>
                                            <a href="{:U('downImg',array('id'=>$vo['id']))}">
                                                <button class="btn btn-warning"><font><font>下载二维码</font></font>
                                                </button>
                                            </a>
                                            <a href="{:U('user',array('id'=>$vo['id']))}">
                                                <button class="btn btn-danger"><font><font>查看关注用户</font></font>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                        <div class="page">
                            <ul class="pagination">{$page}</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public/footer"/>
    </div>
</div>
<!-- 添加推广位 -->
<div class="modal fade" id="modal_mix">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加推广员</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">推广员名称</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="请输入推广员名称">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label error-tip" style="color: red"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info" id="add-generalize">确认</button>
            </div>

        </div>
    </div>
</div>
<include file="Public/footer_Js"/>
<script>
    $('.add-generalize').click(function () {
        jQuery('#modal_mix').modal('show', {backdrop: 'static'});
    })

    $('#name').focus(function () {
        $('.error-tip').text('');
    });
    $('#add-generalize').click(function () {
        var service_id = "{$service_id}";
        var name = $('#name').val();
        if (!name) {
            $('.error-tip').text('请输入推广员名称！');
            return false;
        }
        $.post("{:U('addGeneralize')}", {service_id: service_id, name: name}, function (res) {
            $('.error-tip').text(res.info);
            if (res.status == 1) {
                setTimeout(function () {
                    location.reload();
                }, 2000);
            }
        })
    })


</script>