<include file="Public/header" title="员工编辑" keywords="" />
<div class="page-container">
    <include file="Public/nav" />
    <div class="main-content">

    <!-- User Info, Notifications and Menu Bar -->
    <include file="Public/user_nav" />
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">员工编辑</h1>
            <p class="description">后台管理员工编辑</p>
        </div>
        <div class="breadcrumb-env">
            <ol class="breadcrumb bc-1">
                <li> <a href="{:U('Index/index')}"><i class="fa-home"></i>主页</a> </li>
                <li> 站点设置 </li>
                <li class="active"> <strong>员工编辑 </strong></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">编辑员工</h3>
                    <div class="panel-options">
                        <a href="#" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                            <span class="expand-icon">+</span>
                        </a>
                        <a href="#" data-toggle="remove"> &times; </a>
                    </div>
                </div>

                <div class="panel-body">
                    <form role="form" method="post" class="form-horizontal" onsubmit="return check_zhe();"   enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="full_name">员工姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="full_name" name="full_name" required value="{$list['full_name']}" placeholder="请输入员工姓名">
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="sex">性别</label>
                            <div class="col-sm-10">
                                <if condition="$list['sex'] eq 0 ">
                                    <input type="radio" value="0" name="sex" checked>男
                                    <input type="radio" value="1" name="sex" >女
                                    <else />
                                    <input type="radio" value="0" name="sex" >男
                                    <input type="radio" value="1" name="sex" checked>女
                                </if>
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="birthday">生日</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control datepicker" id="birthday" value="{$list['birthday']}" name="birthday" placeholder="生日">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="mobile">手机号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="mobile" value="{$list['mobile']}" name="mobile" placeholder="手机号">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="weixin">微信</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="weixin" value="{$list['weixin']}" name="weixin" placeholder="微信">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="qq">QQ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="qq" name="qq" value="{$list['qq']}" placeholder="QQ">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label datepicker"  for="entry_time">入职时间 </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="entry_time" name="entry_time" placeholder="入职时间 " value="{$list['entry_time']}">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="owner_department">所属部门 </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="owner_department" value="{$list['owner_department']}" name="owner_department" placeholder="所属部门 ">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="position_owner">所属岗位 </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="position_owner" value="{$list['position_owner']}" name="position_owner" placeholder="所属岗位 ">
                            </div>
                        </div>

                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="remark">在职状态 </label>
                            <div class="col-sm-10">
                                <if condition="$list['remark'] eq 0 ">
                                    <input type="radio" value="0" name="on_in" checked>在职
                                    <input type="radio" value="1" name="on_in" >离职
                                    <else />
                                    <input type="radio" value="0" name="on_in" >在职
                                    <input type="radio" value="1" name="on_in" checked>离职
                                </if>


                            </div>
                        </div>

                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="remark">关联后台账号 </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="remark" value="{$list['remark']}" name="remark" placeholder="关联后台账号 ">
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{$id}">
                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <div class="col-sm-2 "></div>
                            <div class="col-sm-10">
                                <input type="submit" class="btn btn-secondary  btn-single" value="编辑员工">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<include file="Public/footer" /> </div>
<script src="__JS__/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">

function check_zhe(){
    // 手机号正则匹配
    var number = /^1[34578]\d{9}$/;

    var full_name = $("#full_name").val();
    var mobile = $("#mobile").val();
    var entry_time = $("#entry_time").val();
    var owner_department = $("#owner_department").val();
    var position_owner = $("#position_owner").val();
    var on_in = $("#on_in").val();


    if (full_name == '') {
        alert('请填写员工的姓名');
        $('#full_name').focus();
        return false;
    } else if (!(number.test(mobile))) {
        alert('请填写正确的手机号！');
        $('#mobile').focus();
        return false;
    }  else if (entry_time == '') {
        alert('请选择入职时间！');
        $('#entry_time').focus();
        return false;
    } else if (owner_department == '') {
        alert('请选择所属部门！');
        $('#owner_department').focus();
        return false;
    } else if (position_owner == '') {
        alert('请填写所属岗位');
        $('#position_owner').focus();
        return false;
    } else if (on_in == '') {
        alert('请选择在职状态');
        $('#on_in').focus();
        return false;

    } else {
        return true;
    }
}

</script>
<include file="Public/footer_Js" />