 <div class="row">
  	 <div class="panel panel-default col-sm-12">
     <div class="panel-heading">
							<h3 class="panel-title">搜索商品</h3>
							<div class="panel-options">
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">–</span>
									<span class="expand-icon">+</span>
								</a>
								<a href="#" data-toggle="remove">
									×
								</a>
							</div>
		</div>
        <form method="get" action="search">
      <div class="panel-body">
      	<div class="row col-margin">
     		<div class="col-xs-2">
        	<input type="text" name="goodname"  class="form-control" placeholder="商品名称"/>
            </div>
            <div class="col-xs-2">
        	<input type="text" name="goodid"  class="form-control" placeholder="商品编号"/>
            </div>
  
            <div class="col-xs-1">
         
           		<input type="submit"  class="btn btn-secondary btn-single" value="搜索" />
    		 </div>
            <div class="col-xs-1">
            	 <a href="/AppAdmin/Goods/set" class="btn btn-secondary btn-single">设置9.9包邮</a>
            </div>
        </div>
       </div>
           </form>
     </div>

	
</div>