
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="__JS_PATH__/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="__JS_PATH__/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="__JS_PATH__/raphael-min.js"></script>
    <script src="__JS_PATH__/morris.min.js"></script>
    <script src="__JS_PATH__/jquery.tmpl.min.js"></script>
    <script src="__PLUGINS_PATH__/bower_components/layer/layer.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="__JS_PATH__/common.js?v=12"></script>
</body>
</html>