<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>主页--管理后台</title>
    <!-- Bootstrap Core CSS -->
    <link href="__CSS_PATH__/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="__CSS_PATH__/metisMenu.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="__PLUGINS_PATH__/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <!-- <link href="__PLUGINS_PATH__/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet"> -->
    <!-- Timeline CSS -->
    <link href="__CSS_PATH__/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="__CSS_PATH__/common.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="__CSS_PATH__/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="__CSS_PATH__/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="__JS_PATH__/html5shiv.min.js"></script>
        <script src="__JS_PATH__/respond.min.js"></script>
    <![endif]-->

     <!-- jQuery -->
    <script src="__JS_PATH__/jquery.min.js"></script>

</head>
<body>
    <div id="wrapper">