<include file="Common:header" />
<include file="Common:nav" />
        <style>
            #pp p{ margin: 0px; line-height: 15px;font-size: 15px}
            #ppp p{ margin: 0px; line-height: 18px;font-size: 15px}
            #pppp p{ margin: 0px; line-height: 18px;font-size: 15px}
        </style>
<div id="page-wrapper">
    <include file="Common:message_tip" />
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">放心购订单管理</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12 form-group">
            <div class="row">
                <h4>{$sdate}前三甲</h4>
                <p>状元：{$cout[0]['name']} 成绩：{$cout[0]['cout']}
                榜眼：{$cout[1]['name']} 成绩：{$cout[1]['cout']}
                探花：{$cout[2]['name']} 成绩：{$cout[2]['cout']}</p>
                <div>未上榜的同学继续努力，相信下次就是你</div>
                <p><a href="GetYsdOrder1.html" target="_blank" style="color:red; ">查看昨天订单情况</a></p>
                <h4>{$nwtime}实时前三甲 刷新哦说不定你就上榜了</h4>
                <p>状元：{$tadaycou[0]['name']} 成绩：{$tadaycou[0]['cout']}
                榜眼：{$tadaycou[1]['name']} 成绩：{$tadaycou[1]['cout']}
                探花：{$tadaycou[2]['name']} 成绩：{$tadaycou[2]['cout']}</p>
            </div>
            <p style="">
                {$user['name']}今天订单金额：{$user['money']}
                本月预估业绩：{$user['mmoney']}
                预估排名第{$user['num']}名
                <if condition="$user['mmoney2'] && $user['mmoney1']">
                    你比{$user['num']-1}名少{$user['mmoney1']}
                    比{$user['num']+1}名多{$user['mmoney2']}
                    <else/>
                    比{$user['num']+1}名多{$user['mmoney2']}
                    </if>
                <span style="display: block;"><a href="GetmyOrder1.html">查看我的订单</a></span>
            </p>
        </div>
        <if condition="$uid eq '0'">
          <div id="pp" style="position:absolute; right: 10px; top: 52px; ">
              <div style="float: left; margin-right:50px;margin-top: 45px;  height: 50px;width: 330px; ">
                  今天业绩：{$tadaycoutsum}——本月业绩：{$monthcoutsum}
              </div>
              <div style="float: left; margin-right:10px;  height: 310px;overflow-y:auto;width: 230px; ">
                  <volist name="tadaycou" id="dd">
                      <p>{$dd.name}--成绩--{$dd.cout}</p>
                  </volist>
              </div>
              <div style="float: right;margin-right: 10px; height: 310px;overflow-y:auto;width: 220px;">
                  <volist name="monthcout" id="ddd">
                      <p>{$ddd.name}--成绩--{$ddd.cout}</p>
                  </volist>
              </div>
           <div style="clear: both;"></div>
          </div>
            <elseif condition="$uid eq '14' || $uid eq '2'"/>
            <div id="ppp" style="position:absolute; right: 10px; top: 52px; ">
                <div style="float: left; margin-right:5px;  height: 310px;overflow-y:auto;width: 180px; ">
                    <p>本月排名</p>
                    <p>{$monthcout[0]['name']}--成绩--{$monthcout[0]['cout']}</p>
                    <p>{$monthcout[1]['name']}--成绩--{$monthcout[1]['cout']}</p>
                    <p>{$monthcout[2]['name']}--成绩--{$monthcout[2]['cout']}</p>
                    <p>{$monthcout[3]['name']}--成绩--{$monthcout[3]['cout']}</p>
                    <p>{$monthcout[4]['name']}--成绩--{$monthcout[4]['cout']}</p>
                    <p>{$monthcout[5]['name']}--成绩--{$monthcout[5]['cout']}</p>
                    <p>{$monthcout[6]['name']}--成绩--{$monthcout[6]['cout']}</p>
                    <p>{$monthcout[7]['name']}--成绩--{$monthcout[7]['cout']}</p>
                    <p>{$monthcout[8]['name']}--成绩--{$monthcout[8]['cout']}</p>
                    <p>{$monthcout[9]['name']}--成绩--{$monthcout[9]['cout']}</p>
                    <p>{$monthcout[10]['name']}--成绩--{$monthcout[10]['cout']}</p>
                    <p>{$monthcout[11]['name']}--成绩--{$monthcout[11]['cout']}</p>

                </div>
                <div style="float: left; margin-right:5px;  height: 310px;overflow-y:auto;width: 180px; ">
                    <p>{$sdate}排名</p>
                    <p>{$cout[0]['name']}--成绩--{$cout[0]['cout']}</p>
                    <p>{$cout[1]['name']}--成绩--{$cout[1]['cout']}</p>
                    <p>{$cout[2]['name']}--成绩--{$cout[2]['cout']}</p>
                    <p>{$cout[3]['name']}--成绩--{$cout[3]['cout']}</p>
                    <p>{$cout[4]['name']}--成绩--{$cout[4]['cout']}</p>
                    <p>{$cout[5]['name']}--成绩--{$cout[5]['cout']}</p>
                    <p>{$cout[6]['name']}--成绩--{$cout[6]['cout']}</p>
                    <p>{$cout[7]['name']}--成绩--{$cout[7]['cout']}</p>
                    <p>{$cout[8]['name']}--成绩--{$cout[8]['cout']}</p>
                    <p>{$cout[9]['name']}--成绩--{$cout[9]['cout']}</p>
                    <p>{$cout[10]['name']}--成绩--{$cout[10]['cout']}</p>
                    <p>{$cout[11]['name']}--成绩--{$cout[11]['cout']}</p>
                </div>
                <div style="float: right;margin-right: 5px; height: 310px;overflow-y:auto;width: 180px;">
                    <p>{$nwtime}排名</p>
                    <p>{$tadaycou[0]['name']}--成绩--{$tadaycou[0]['cout']}</p>
                    <p>{$tadaycou[1]['name']}--成绩--{$tadaycou[1]['cout']}</p>
                    <p>{$tadaycou[2]['name']}--成绩--{$tadaycou[2]['cout']}</p>
                    <p>{$tadaycou[3]['name']}--成绩--{$tadaycou[3]['cout']}</p>
                    <p>{$tadaycou[4]['name']}--成绩--{$tadaycou[4]['cout']}</p>
                    <p>{$tadaycou[5]['name']}--成绩--{$tadaycou[5]['cout']}</p>
                    <p>{$tadaycou[6]['name']}--成绩--{$tadaycou[6]['cout']}</p>
                    <p>{$tadaycou[7]['name']}--成绩--{$tadaycou[7]['cout']}</p>
                    <p>{$tadaycou[8]['name']}--成绩--{$tadaycou[8]['cout']}</p>
                    <p>{$tadaycou[9]['name']}--成绩--{$tadaycou[9]['cout']}</p>
                    <p>{$tadaycou[10]['name']}--成绩--{$tadaycou[10]['cout']}</p>
                    <p>{$tadaycou[11]['name']}--成绩--{$tadaycou[11]['cout']}</p>
                </div>
                <div style="clear: both;"></div>
            </div>
            <else/>
            <div id="pppp" style="position:absolute; right: 10px; top: 52px; ">
                <div style="float: left; margin-right:5px;  height: 310px;overflow-y:auto;width: 180px; ">
                    <p>{$sdate}排名</p>
                    <p>{$cout[0]['name']}--成绩--{$cout[0]['cout']}</p>
                    <p>{$cout[1]['name']}--成绩--{$cout[1]['cout']}</p>
                    <p>{$cout[2]['name']}--成绩--{$cout[2]['cout']}</p>
                    <p>{$cout[3]['name']}--成绩--{$cout[3]['cout']}</p>
                    <p>{$cout[4]['name']}--成绩--{$cout[4]['cout']}</p>
                    <p>{$cout[5]['name']}--成绩--{$cout[5]['cout']}</p>
                    <p>{$cout[6]['name']}--成绩--{$cout[6]['cout']}</p>
                    <p>{$cout[7]['name']}--成绩--{$cout[7]['cout']}</p>
                    <p>{$cout[8]['name']}--成绩--{$cout[8]['cout']}</p>
                    <p>{$cout[9]['name']}--成绩--{$cout[9]['cout']}</p>
                    <p>{$cout[10]['name']}--成绩--{$cout[10]['cout']}</p>
                    <p>{$cout[11]['name']}--成绩--{$cout[11]['cout']}</p>
                </div>
                <div style="float: right;margin-right: 5px; height: 310px;overflow-y:auto;width: 180px;">
                    <p>{$nwtime}排名</p>
                    <p>{$tadaycou[0]['name']}--成绩--{$tadaycou[0]['cout']}</p>
                    <p>{$tadaycou[1]['name']}--成绩--{$tadaycou[1]['cout']}</p>
                    <p>{$tadaycou[2]['name']}--成绩--{$tadaycou[2]['cout']}</p>
                    <p>{$tadaycou[3]['name']}--成绩--{$tadaycou[3]['cout']}</p>
                    <p>{$tadaycou[4]['name']}--成绩--{$tadaycou[4]['cout']}</p>
                    <p>{$tadaycou[5]['name']}--成绩--{$tadaycou[5]['cout']}</p>
                    <p>{$tadaycou[6]['name']}--成绩--{$tadaycou[6]['cout']}</p>
                    <p>{$tadaycou[7]['name']}--成绩--{$tadaycou[7]['cout']}</p>
                    <p>{$tadaycou[8]['name']}--成绩--{$tadaycou[8]['cout']}</p>
                    <p>{$tadaycou[9]['name']}--成绩--{$tadaycou[9]['cout']}</p>
                    <p>{$tadaycou[10]['name']}--成绩--{$tadaycou[10]['cout']}</p>
                    <p>{$tadaycou[11]['name']}--成绩--{$tadaycou[11]['cout']}</p>
                </div>
                <div style="clear: both;"></div>
            </div>
        </if>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td>创建时间</td>
                                    <td width="25%">文章来源</td>
                                    <td width="25%">商品信息</td>
                                    <td>商品单价</td>
                                    <td>订单状态</td>
                                    <td>收入比率</td>
                                    <td>付款金额</td>
                                    <td>预估收入</td>
                                    <td>订单来源</td>
                                </tr>
                            </thead>
                            <tbody>
                            <volist name="data" id="dd">
                                <tr>
                                    <td>{$dd.pay_time}</td>
                                    <td><a href="{$dd.order_source}" target="_blank">{$dd.article_title}</a></td>
                                    <td><a href="{$dd.commodity_info}" target="_blank">{$dd.commodity_name}</a></td>
                                    <td>{$dd.order_money}</td>
                                    <td>{$dd.order_status}</td>
                                    <td>{$dd.profit_percent}</td>

                                    <td>{$dd.order_money}</td>
                                    <td style="color: red;">{$dd.income}</td>
                                    <td>{$dd.name}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>

</div>
<include file="Common:footer" />
<script>
    
</script>