#content{ background-color: #fff; padding: 30px 1%;margin-top: 20px;}
#slidebar{ float: left; width: 25%; margin-right: 2%; min-height: 500px;}

#User-Information{float: left; width: 72%; }
#User-Funds{background-color: #1db9e8;
            color: #ffffff;
            box-shadow: 0 1px 0 0 #1397bf;margin-top: 25px;}
#User-Funds h3{ font-size: 18px; color: #fff ; padding: 2%; margin-bottom: 0;}
.uk-comment-header img { border-radius: 50%; width: 70px; height: 70px; }
.user_ye{ background-color: #05a2e6;
            padding: 14px 2%;}
.user_zj{width: 95%;
            height: 108px;}

.user_zj span{width: 46%;
                float: left;
                padding: 2%; }
#tz_box,#jk_box{width: 310px;
float: left;
border: 1px solid #D4D4D4;
margin-top: 30px;}
h4.uk-comment-title{ margin-bottom: 10px;}
#tz_box{}
#jk_box{ margin-left:7px;}
span.ze{ float: right; color:#FB7823; font-size: 14px; }

/*手机模式*/
@media screen and (max-device-width: 460px ) and (max-width: 470px){
    #slidebar {
    float: none;
    width: 100%;
    margin:10px 2%;
    min-height: 390px;
    }
    #content {
     background-color:none;
    padding: 10px 1%;
    margin-top: 0px;
    }
    #User-Information{ float: none; width: 100%;}
    #tz_box,#jk_box{ width: 90%;padding: 15px 5%;}
    #jk_box{ margin-left:0px;}
    #User-Funds{font-size: 0.85em;}
}