<extend name="Common/common" />
<block name="menu"></block>
<block name="body">
    <div class="system-message">
        <if condition="$error">
            <p class="error">{$error}</p>
            <else />
            <p class="success">{$message}</p>
        </if>
        <p class="jump">
            页面自动 <a id="href" href="{$jumpUrl}">跳转</a> 等待时间：
            <b id="wait">{$waitSecond}</b>
        </p>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        (function () {
            var wait = document.getElementById('wait'), href = document.getElementById('href').href;
            var interval = setInterval(function () {
                var time = --wait.innerHTML;
                if (time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                }
            }, 1000);
        })();
    </script>
</block>