<include file="Public/header" title="CRM" keywords="报表统计"/>
<link rel="stylesheet" href="__JS__/daterangepicker/daterangepicker-bs3.css">
<div class="page-container">
    <include file="Public/nav"/>
    <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        <include file="Public/user_nav"/>
        <div class="page-title">
            <div class="title-env">
                <h1 class="title">BI统计</h1>
                <p class="description">订单统计</p>
            </div>
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li><a href="/AppAdmin/"><i class="fa-home"></i>主页</a></li>
                    <li class="active"> BI统计</li>
                    <li class="active"><strong>订单统计</strong></li>
                </ol>
            </div>
        </div>
        <div class="panel panel-default col-sm-12">
            <div class="panel-heading">
                <h3 class="panel-title">日期搜索查询</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" name="time" value="{$time}" id="field-1" class="form-control daterange"
                                   placeholder="请选择结算时间范围"/>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-secondary btn-single" type="submit" name="type" value="select"
                                    style="margin-bottom: 0">
                                <font><font>查询</font></font></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default col-sm-12">
            <div class="panel-heading">
                <h3 class="panel-title">订单相关信息统计</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="xe-widget xe-counter-block xe-counter-block-blue" data-suffix="k" data-count=".num"
                             data-from="0" data-to="310" data-duration="4" data-easing="false">
                            <div class="xe-upper">
                                <div class="xe-icon">
                                    <i class="fa-life-ring"></i>
                                </div>
                                <div class="xe-label">
                                    <strong class="num">¥{$total_data.num}</strong>
                                    <span>订单总数</span>
                                </div>
                            </div>
                            <div class="xe-lower">
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="xe-widget xe-counter-block xe-counter-block-orange" data-suffix="k"
                             data-count=".num"
                             data-from="0" data-to="310" data-duration="4" data-easing="false">
                            <div class="xe-upper">
                                <div class="xe-icon">
                                    <i class="fa-life-ring"></i>
                                </div>
                                <div class="xe-label">
                                    <strong class="num">¥{$total_data.money}</strong>
                                    <span>订单总额</span>
                                </div>
                            </div>
                            <div class="xe-lower">
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="xe-widget xe-counter-block xe-counter-block-turquoise" data-suffix="k"
                             data-count=".num"
                             data-from="0" data-to="310" data-duration="4" data-easing="false">
                            <div class="xe-upper">
                                <div class="xe-icon">
                                    <i class="fa-life-ring"></i>
                                </div>
                                <div class="xe-label">
                                    <strong class="num">¥{$total_data.pid_num}</strong>
                                    <span>总pid数</span>
                                </div>
                            </div>
                            <div class="xe-lower">
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="xe-widget xe-counter-block xe-counter-block-pink" data-suffix="k" data-count=".num"
                             data-from="0" data-to="310" data-duration="4" data-easing="false">
                            <div class="xe-upper">
                                <div class="xe-icon">
                                    <i class="fa-life-ring"></i>
                                </div>
                                <div class="xe-label">
                                    <strong class="num">¥{$total_data.item_num}</strong>
                                    <span>总商品数</span>
                                </div>
                            </div>
                            <div class="xe-lower">
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="xe-widget xe-counter-block xe-counter-block-yellow" data-suffix="k"
                             data-count=".num"
                             data-from="0" data-to="310" data-duration="4" data-easing="false">
                            <div class="xe-upper">
                                <div class="xe-icon">
                                    <i class="fa-life-ring"></i>
                                </div>
                                <div class="xe-label">
                                    <strong class="num">¥{$total_data.all_fee}</strong>
                                    <span>总预估收入</span>
                                </div>
                            </div>
                            <div class="xe-lower">
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="xe-widget xe-counter-block xe-counter-block-gray" data-suffix="k" data-count=".num"
                             data-from="0" data-to="310" data-duration="4" data-easing="false">
                            <div class="xe-upper">
                                <div class="xe-icon">
                                    <i class="fa-life-ring"></i>
                                </div>
                                <div class="xe-label">
                                    <strong class="num">¥{$total_data.fee}</strong>
                                    <span>总结算预估收入</span>
                                </div>
                            </div>
                            <div class="xe-lower">
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default col-sm-12">
            <div class="panel-heading">
                <h3 class="panel-title">每日订单统计信息</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk"
                     data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
                    <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                        <thead>
                        <tr>
                            <th data-priority="1" style="text-align: center">日期</th>
                            <th data-priority="2" style="text-align: center">订单总数</th>
                            <th data-priority="3" style="text-align: center">订单总商品数</th>
                            <th data-priority="4" style="text-align: center">订单总pid数</th>
                            <th data-priority="5" style="text-align: center">订单总支付金额</th>
                            <th data-priority="6" style="text-align: center">订单总收入</th>
                            <th data-priority="7" style="text-align: center">订单结算总收入</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="data" item="v">
                            <tr>
                                <td align="center">{$v['day']}</td>
                                <td align="center">{$v['num']}</td>
                                <td align="center">{$v['item_num']}</td>
                                <td align="center">{$v['pid_num']}</td>
                                <td align="center">{$v['money']}</td>
                                <td align="center">{$v['all_fee']}</td>
                                <td align="center">{$v['fee']}</td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <include file="Public/footer"/>
    </div>
    <script src="__JS__/moment.min.js"></script>
    <!-- Imported scripts on this page -->
    <script src="__JS__/daterangepicker/daterangepicker.js"></script>
    <include file="Public/footer_Js"/>
</div>
</html>