<include file="Common:header"/>
<include file="Common:nav"/>
<link rel="stylesheet" href="/Public/Char/css/bootstrap.min.css">
<link rel="stylesheet" href="/Public/Char/css/style.css">
<style>@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");</style>
<link rel="stylesheet" href="__CSS_PATH__/top_items.css?v={:time()}">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/Public/Char/js/bootstrap.min.js"></script>
<script src="/Public/Char/js/jquery.pin.min.js"></script>
<script src="/Public/Char/js/raphael-min.js"></script>
<script src="/Public/Char/js/morris.js"></script>
<Script src="/Public/Char/js/moment.js"></Script>
<script src="/Public/Char/js/daterangepicker.js"></script>
<div id="page-wrapper">
    <include file="Common:message_tip"/>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">选品库列表</h1>
            <p style="color: #d139ff">文章标题：{$article_title}</p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;margin-left: -30px">
        <div class="col-lg-12">
            <form>
                <div class="col-lg-3">
                    <input type="text" readonly name="time" id="reservation" class="form-control" value="{:I('get.time','','urldecode')}"/>
                </div>
                <div>
                    <button type="submit" class="btn btn-danger">查询</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-bottom: 50px">
        <volist name="data" id="row">
            <div class="col-lg-12" style="margin-top: 20px">
                <volist name="row" id="vo">
                    <div class="col-lg-3 box" style="position: relative">
                        <div class="img">
                            <img class="lazy" data-original="{$vo.img}">
                            <div class="intro">
                                {$vo.description}
                            </div>
                            <div class="son-img" style="display: none">
                                <php>$son_data = json_decode($vo['attached_imgs'],true);</php>
                                <img src="{$son_data[0]['img']}">
                            </div>
                        </div>
                        <div class="content">
                            <a href="{$vo.real_url}" target="_blank">
                                <h5>{$son_data[0].description}</h5>
                            </a>
                            <div class="col-lg-12 no-padding type-time"
                                 style="font-size: 18px;color: #FF420F;margin: 0 0 10px 0">
                                <div class="col-lg-6">
                                    <b>￥{$vo.price}</b>
                                </div>
                                <div class="col-lg-6 order-info">
                                    <span style="cursor: pointer;font-size: 12px; color:#999">订单收益详情？</span>
                                </div>
                            </div>
                            <div class="col-lg-12 add-btn" style="margin: 20px 0;position: relative">
                                <if condition="$_SESSION['AdminInfo']['id'] eq 0">
                                    <eq name="vo['is_add']" value="1">
                                        <button class="btn btn-success" style="width: 100%">已添加至选品库</button>
                                        <else/>
                                        <div class="col-lg-6">
                                            <button class="btn btn-danger addItemCache"
                                                    style="width: 100%;font-size: 12px"
                                                    data-id="{$vo.shop_goods_id}" data-val='{$vo.post_data}'
                                                    data-type="0">
                                                一键添加
                                            </button>
                                        </div>
                                        <div class="col-lg-6">
                                            <button class="btn btn-danger addItemCache"
                                                    style="width: 100%;font-size: 12px"
                                                    data-id="{$vo.shop_goods_id}" data-val='{$vo.post_data}'
                                                    data-type="1">
                                                伪原创
                                            </button>
                                        </div>
                                    </eq>
                                </if>
                                <div style="position: absolute;top:-20px;left: 0;width: 100%">
                                    <p style="text-align: center;font-size: 12px">成交笔数:<span class="ratio"
                                                                                             style="color: red">{$vo.goods_num}</span>
                                        总收益：<span class="fee" style="color: red">{$vo.goods_fee}</span>元
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="order-info-show"
                             style="position: absolute;top: 0;right: 0;z-index:10;background: #fff;opacity: 0.8;color: #000;font-size: 12px;padding: 10px;width: 100%;display: none">
                            {$vo.data_content}
                        </div>
                    </div>
                </volist>
            </div>
        </volist>
    </div>
    <if condition="$_SESSION['AdminInfo']['id'] neq 30 && $_SESSION['AdminInfo']['id'] neq 33 && $_SESSION['AdminInfo']['id'] neq 34 && $_SESSION['AdminInfo']['id'] neq 35 && $_SESSION['AdminInfo']['id'] neq 36 && $_SESSION['AdminInfo']['id'] neq 37 && $_SESSION['AdminInfo']['id'] neq 38 && $_SESSION['AdminInfo']['id'] neq 39 && $_SESSION['AdminInfo']['id'] neq 0">

        <else/>
    </if>
    <div class="bottom-position">
        <div class="col-lg-3">
            <div class="cart" id="cart" onclick="openCart()">
                <a href="javascript:;" class="cart-icon"></a>
                <a href="javascript:;" class="cart-num">{$cart_count}</a>
            </div>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-success" style="margin: 25px 30%;width: 40%" onclick="saveCart()">一键保存</button>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-danger" style="margin: 25px 30%;width: 40%" onclick="openCart()">一键预览</button>
        </div>
        <div class="col-lg-3">
            <div id="back-to-top" class="iton-top-index" style="margin: 25px auto">
                <a href="#"></a>
            </div>
        </div>
    </div>
</div>
<include file="Common:footer"/>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="__JS_PATH__/jquery.lazyload.js"></script>
<script src="__JS_PATH__/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var is_add = true;
        $('#reservation').daterangepicker({
            maxDate: moment(), //最大时间
            format: 'YYYY-MM-DD', //控件中from和to 显示的日期格式
            dateLimit: {
                days: 31
            }//起止时间的最大间隔
        }, function (start, end, label) {
        });
        $("img.lazy").lazyload({effect: "fadeIn"});
        $(".order-info").hover(function () {
            $(this).parents('.box').find('.order-info-show').show();
        }, function () {
            $(this).parents('.box').find('.order-info-show').hide();
        });
        $(".box .img").hover(function () {
            $(this).find('.son-img').show();
        }, function () {
            $(this).find('.son-img').hide();
        });
        $('#reservation').daterangepicker(null, function (start, end, label) {
        });
        $('.addItemCache').click(function () {
            if (is_add === false) {
                layer.msg('正在请求中...，操作太频繁，请稍后再试！');
                return false;
            }
            var item_num = parseInt($('#cart .cart-num').text());
            if (item_num >= 20) {
                layer.msg('最多只能添加20件商品！');
                return false;
            }
            var _this = $(this);
            var text = _this.text();
            var item_id = $(this).data('id');
            var post_data = $(this).data('val');
            var type = $(this).data('type');
            var url = "{:U('addItemCache')}";
            is_add = false;
            $.post(url, {id: item_id, post_data: post_data, type: type}, function (res) {
                if (res.status == 1) {
                    var img = _this.parents('.box').find('.img img');
                    flyCart(img);
                    $('#cart .cart-num').text(item_num + 1);
                    /* _this.parents('.add-btn').find('div p span.fee').text(res.info.fee);
                     _this.parents('.add-btn').find('div p span.ratio').text(res.info.ratio);
                     _this.parents('.add-btn').find('div').show();*/
                    _this.removeClass('addItemCache btn-danger').addClass('btn-success').text('添加成功');
                    _this.unbind();
                } else {
                    layer.msg(res.info);
                    _this.text(res.info);
                    setTimeout(function () {
                        _this.text(text);
                    }, 3000)
                }
                is_add = true;
            });
        });

        function flyCart(imgtodrag) {
            var cart = $('#cart');
            if (imgtodrag) {
                var imgclone = imgtodrag.clone()
                        .offset({
                            top: imgtodrag.offset().top,
                            left: imgtodrag.offset().left
                        })
                        .css({
                            'opacity': '0.5',
                            'position': 'absolute',
                            'height': '150px',
                            'width': '150px',
                            'z-index': '100'
                        })
                        .appendTo($('body'))
                        .animate({
                            'top': cart.offset().top + 10,
                            'left': cart.offset().left + 10,
                            'width': 75,
                            'height': 75
                        }, 1000, 'easeInOutExpo');

                imgclone.animate({
                    'width': 0,
                    'height': 0
                }, function () {
                    $(this).detach()
                });
            }
        }
    });

    function openCart() {
        var num = parseInt($('#cart .cart-num').text());
        if (num == 0) {
            layer.msg('请先添加商品后再预览！');
            return false;
        }
        layer.open({
            title: '预览文章',
            type: 2,
            area: ['800px', '670px'],
            fix: true,
            maxmin: true,
            content: "{:U('cartList')}",
        })
    }

    function saveCart() {
        var num = parseInt($('#cart .cart-num').text());
        if (num == 0) {
            layer.msg('请先添加商品后再保存！');
            return false;
        }
        layer.open({
            title: '保存文章',
            type: 2,
            area: ['1000px', '670px'],
            fix: true,
            maxmin: true,
            content: "{:U('saveCart')}",
        });
    }


    $(function () {
        $("#back-to-top").hide();
        $(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() > 100) {
                    $("#back-to-top").fadeIn(1500);
                } else {
                    $("#back-to-top").fadeOut(1500);
                }
            });
            //当点击跳转链接后，回到页面顶部位置
            $("#back-to-top").click(function () {
                $('body,html').animate({scrollTop: 0}, 500);
                return false;
            });
        });
    });
</script>