<include file="Public/header" title="编辑用户资料" keywords="开源WEB开发框架" />
<div class="page-container">
    <include file="Public/nav" />
    <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        <include file="Public/user_nav" />
        <div class="page-title">
            <div class="title-env">
                <h1 class="title">用户管理</h1>
                <p class="description">显示所有用户信息</p>
            </div>
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li><a href="/AppAdmin/"><i class="fa-home"></i>主页</a></li>
                    <li class="active"><strong>用户管理 </strong></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">用户信息修改</h3>
                        <div class="panel-options">
                            <a href="#" data-toggle="panel">
                                <span class="collapse-icon">&ndash;</span>
                                <span class="expand-icon">+</span>
                            </a>
                            <a href="#" data-toggle="remove">
                                &times;
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-1">用户昵称</label>
                                <div class="col-sm-10">
                                    {$userinfo['username']}
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-1">手机号码</label>
                                <div class="col-sm-10">
                                    {$userinfo['mobile']}
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-2">密码</label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control" id="field-2" placeholder="如需要修改密码，请输入新密码。">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-1">代理级别</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="proxy_type" value="0"
                                            <if condition="$userinfo['proxy_type'] eq 0"> checked="checked"</if>
                                            >
                                            普通代理
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="proxy_type" value="3"
                                            <if condition="$userinfo['proxy_type'] eq 3"> checked="checked"</if>
                                            >
                                            一级代理
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="proxy_type" value="1"
                                            <if condition="$userinfo['proxy_type'] eq 1"> checked="checked"</if>
                                            >
                                            企业级代理
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-9">成为代理日期</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control date-picker" id="field-9" <notempty name="userinfo.join_agent_time">value="{$userinfo['join_agent_time']|date='Y-m-d',###}"</notempty> name="join_agent_time" placeholder="成为代理日期">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-1">默认淘宝联盟PID</label>
                                <div class="col-sm-10">
                                    {$userinfo['pid']} （可在用户列表通过管理推广位以修改PID）
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="dwxk_adsense_id">默认大微信客推广位</label>
                                <div class="col-sm-10">
                                    {$userinfo['dwxk_adsense_id']}
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-1">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="field-1" value="{$userinfo['email']}" name="email" placeholder="您的电子邮箱">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-1">QQ</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="field-1" value="{$userinfo['qq']}" name="qq" placeholder="您的QQ号">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-1">真实姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="field-1" value="{$userinfo['real_name']}" name="real_name" placeholder="用户真实名称">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-1">支付宝账号</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="field-1" value="{$userinfo['bank_account']}" name="bank_account" placeholder="支付宝账号">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-1">推荐人UID</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="field-1" value="{$userinfo['parentid']}" name="ParentID" placeholder="输入推荐人的ID">
                                </div>
                                <div class="col-sm-8">
                                    注册的邀请人信息：{$userinfo.referee}
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-1">是否有微信营销功能</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="is_wechat_marketing" value="Y"
                                            <if condition="$userinfo['is_wechat_marketing'] eq 'Y'"> checked="checked"</if>
                                            >
                                            有微信营销
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="is_wechat_marketing" value="N"
                                            <if condition="$userinfo['is_wechat_marketing'] eq 'N'"> checked="checked"</if>
                                            >
                                            没有微信营销
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="field-1">账号状态</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="status" value="1"
                                            <if condition="$userinfo['status'] eq 1"> checked="checked"</if>
                                            >
                                            启用
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="status" value="0"
                                            <if condition="$userinfo['status'] eq 0"> checked="checked"</if>
                                            >
                                            禁用
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <div class="col-sm-2 "></div>
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-secondary  btn-single" value="修改">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public/footer" />
    </div>
    <!-- Bottom Scripts -->
    <script src="__JS__/moment.min.js"></script>
    <script src="__JS__/datepicker/bootstrap-datepicker.js"></script>
    <!-- Imported scripts on this page -->
    <script src="__JS__/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
    <script>
        $('.date-picker').datepicker({
            language: 'zh-CN',
            autoclose: true,
            todayHighlight: true,
        })
    </script>
    <include file="Public/footer_Js" />