<include file="Public/header" title="ThinkPHP框架" keywords="开源WEB开发框架" />
<div class="page-container">
<include file="Public/nav" />
<div class="main-content"> 
  
  <!-- User Info, Notifications and Menu Bar --> 
  <include file="Public/User_Nav" />
  <div class="page-title">
    <div class="title-env">
      <h1 class="title">代理结算</h1>
      <p class="description">查看用户结算信息</p>
    </div>
    <div class="breadcrumb-env">
      <ol class="breadcrumb bc-1">
        <li> <a href="dashboard-1.html"><i class="fa-home"></i>主页</a> </li>
        <li class="active"> 财务管理 </li>
        <li class="active"> <strong>代理结算</strong> </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">申请结算列表</h3>
          <div class="panel-options"> <a href="#"> <i class="linecons-cog"></i> </a> <a href="#" data-toggle="panel"> <span class="collapse-icon">&ndash;</span> <span class="expand-icon">+</span> </a> <a href="#" data-toggle="reload"> <i class="fa-rotate-right"></i> </a> <a href="#" data-toggle="remove"> &times; </a> </div>
        </div>
        <div class="panel-body">
          <div class="btn-toolbar">
    
            <div class="btn-group dropdown-btn-group pull-right">
            	
              <a href="./?status=3" class="btn btn-default <if condition="$cstaus eq 3"> btn-primary </if>">全部申请</a> 
              <a href="./?status=2" class="btn btn-default <if condition="$cstaus eq 2"> btn-primary </if>"> 未打款</a> 
              <a href="./?status=1" class="btn btn-default <if condition="$cstaus eq 1"> btn-primary </if>">已打款</a>
             
            </div>
          </div>
          <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
            <table cellspacing="0" class="table table-small-font table-bordered table-striped">
              <thead>
                <tr>
                
                  <th data-priority="1">用户ID</th>
                  <th data-priority="2">银行账号</th>
                  <th data-priority="3">真实姓名</th>
                  <th data-priority="4">申请金额</th>
                  <th data-priority="5">结算状态</th>
                  <th data-priority="6">申请时间</th>
                 
                  <th data-priority="8">用户订单</th>
                  <th data-priority="7">操作</th>
                </tr>
              </thead>
              <tbody>
                <foreach name="list" item="vo" >
                  <tr>
                    <td>{$vo.user_id}</td>
                    <th>{$vo.bank_account}</th>
                    <td>{$vo.real_name}</td>
                    <td>{$vo.amount}</td>
                    <td>{$vo.status}</td>
                    <td>{$vo.add_time}</td>
                    
                  
                    <td><a href="/index.php/Assets/order/index/pid/{$vo.pid}/payid/{$vo.id}" target="_blank">相关订单</a></td>
                    <td><if condition="$vo.status eq 'Y'">已打款
                        <else />
                        	<a href="./?sc=1&amp;id={$vo.id}">同意</a>
                    	</if>
                    </td>
                  </tr>
                </foreach>
              </tbody>
            </table>
          </div>
          
          <script type="text/javascript">
							// This JavaScript Will Replace Checkboxes in dropdown toggles
							jQuery(document).ready(function($)
							{
								setTimeout(function()
								{
									$(".checkbox-row input").addClass('cbr');
									cbr_replace();
								}, 0);
							});
							</script> 
        </div>
        <div class="page">{$page}</div> </div>
    </div>
  </div>
  <include file="Public/footer" /> </div>
<include file="Public/footer_Js" />