<!DOCTYPE html>
<html>
<head>
    <include file="Common:header"/>
    <link href="{$Think.BASE_URL}/__PLUGINS_PATH__/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <form role="form" class="form-inline" method="get" action="__ACTION__">
                        <div class="form-group">
                            <label for="phone" class="sr-only">手机号码</label>
                            <input type="text" name="phone" id="phone"  value="{$formget['phone']}" placeholder="手机号码" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="level" class="sr-only">级别</label>
                            <select name="level" id="level" class="form-control">
                                <option value="">级别</option>
                                <option value="1" <if condition="$formget['level'] eq 1">selected</if>>1级</option>
                                <option value="2" <if condition="$formget['level'] eq 2">selected</if>>2级</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status" class="sr-only">状态</label>
                            <select name="status" id="status" class="form-control">
                                <option value="">状态</option>
                                <option value="e" <if condition="$formget['status'] eq 'e'">selected</if>>启用</option>
                                <option value="d" <if condition="$formget['status'] eq 'd'">selected</if>>禁用</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="kword" class="sr-only">关键字</label>
                            <input type="text" name="kword" id="kword"  value="{$formget['kword']}" placeholder="登陆名、姓名、地址" class="form-control">
                        </div>
                        <input class="btn btn-primary" type="submit" value="搜索" />
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <table class="table table-striped table-bordered table-hover " id="editable">
                        <thead>
                            <tr>
                                <th style="width:50px;">编号</th>
                                <th style="width:80px;">分销级别</th>
                                <th style="width:80px;">提成比例</th>
                                <th style="width:120px;">登录名</th>
                                <th style="width:120px;">姓名</th>
                                <th style="width:100px;">电话</th>
                                <th>地址</th>
                                <th style="width:150px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="vo">
                            <tr>
                                <td><i class="text-info">{$vo['id']}</i></td>
                                <td>{$vo['level']}</td>
                                <td>{$vo['ratio']}</td>
                                <td>{$vo['username']}</td>
                                <td>{$vo['realname']}</td>
                                <td>{$vo['phone']}</td>
                                <td>{$vo['address']}</td>
                                <td>
                                    <button class="btn btn-info btn-sm J_menuItem layer-iframe" data-href="__URL__/edit/id/{$vo['id']}" data-title="修改用户信息">
                                        <i class="fa fa-binoculars"></i> 修改
                                    </button>
                                    <button class="btn btn-default btn-sm J_menuItem user-status-btn" data-href="__URL__/status/id/{$vo['id']}/val/{$vo['status']}">
                                        <if condition="$vo['status'] eq 'e'">
                                        <!-- <i class="fa fa-list-alt"></i> 禁用 -->
                                        <span style="color:green"><i class="fa fa-lock"></i> 禁用</span>
                                        </if>
                                        <if condition="$vo['status'] eq 'd'">
                                        <!-- <i class="fa fa-list-alt"></i> 启用 -->
                                        <span style="color:red"><i class="fa fa-unlock"></i> 启用</span>
                                        </if>
                                    </button>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="alert" aria-live="polite" aria-relevant="all">
                                {$pages.info}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                                {$pages.link}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Common:footer"/>
    <script src="{$Think.BASE_URL}/__PLUGINS_PATH__/jeditable/jquery.jeditable.js"></script>
    <script src="{$Think.BASE_URL}/__PLUGINS_PATH__/dataTables/jquery.dataTables.js"></script>
    <script src="{$Think.BASE_URL}/__PLUGINS_PATH__/dataTables/dataTables.bootstrap.js"></script>
    <script src="{$Think.BASE_URL}/__PLUGINS_PATH__/layer/layer.js"></script>
    <!-- <script src="{$Think.BASE_URL}/__PLUGINS_PATH__/layer/layer.config.js"></script> -->
    <script>
        $(function(){
            $(".layer-iframe").on("click",function(){
                $url = $(this).attr("data-href");
                $title = $(this).attr("data-title");
                layer.open({
                    type: 2,
                    title: $title,
                    offset:"10%",
                    shadeClose: true,
                    shade: 0.8,
                    content:$url,
                    area:['780px','75%']
                }); 
            });
            $('.user-status-btn').on('click',function(){
                $.get($(this).data('href'),function(data){
                    layer.msg(data.mesg);
                    if (data.error == 0) {
                        location.reload();
                    }
                },'json');
            });
        });
    </script>
    </body>
</html>
