<include file="Public/header" title="管理员编辑" keywords="" />
<div class="page-container">
    <include file="Public/nav" />
    <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        <include file="Public/user_nav" />
        <div class="page-title">
            <div class="title-env">
                <h1 class="title">管理员编辑</h1>
                <p class="description">后台管理人员信息编辑</p>
            </div>
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li><a href="/AppAdmin/"><i class="fa-home"></i>主页</a></li>
                    <li> 站点设置</li>
                    <li class="active"><strong>管理员编辑 </strong></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">管理员编辑</h3>
                        <div class="panel-options"><a href="#" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span> <span class="expand-icon">+</span> </a>
                            <a href="#" data-toggle="remove"> &times; </a></div>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="username">登录账号</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" autocomplete="off" readonly value="{$admin.username}" id="username" name="username" placeholder="登录账号">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="full_name">姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="full_name" name="full_name" value="{$admin.full_name}" placeholder="姓名">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="role_id">所属角色</label>
                                <div class="col-sm-10">
                                    <select id="role_id" name="role_id" class="form-control">
                                        <foreach name="role_list" item="vo" key="k">
                                            <option value="{$k}"
                                            <if condition="$k eq $admin['role_id']">
                                                selected
                                            </if>
                                            >{$vo}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="department_id">所属部门</label>
                                <div class="col-sm-10">
                                    <select id="department_id" name="department_id" class="form-control">
                                        <option value="0">无部门</option>
                                        <foreach name="department_list" item="vo" key="k">
                                            <option value="{$k}"
                                            <if condition="$k eq $admin['department_id']">
                                                selected
                                            </if>
                                            >{$vo}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="position_level">岗位级别</label>
                                <div class="col-sm-10">
                                    <select id="position_level" name="position_level" class="form-control">
                                        <option value="basic"
                                        <eq name="admin.position_level" value="basic">selected</eq>
                                        >基层员工</option>
                                        <option value="middle"
                                        <eq name="admin.position_level" value="middle">selected</eq>
                                        >部门主管</option>
                                        <option value="manager"
                                        <eq name="admin.position_level" value="manager">selected</eq>
                                        >部门经理</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="password">登录密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password" value="" name="password" placeholder="如果需要更改密码请填写">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="email">email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="{$admin.email}" id="email" name="email" placeholder="联系邮箱">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="open_id">open_id</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="open_id" name="open_id" value="{$admin.open_id}" placeholder="请输入用户open_id">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="status">状态</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="status"
                                            <if condition="$admin.status eq 1"> checked="checked"</if>
                                            id="status" value="1" />
                                            启用 </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="status"
                                            <if condition="$admin.status eq 0"> checked="checked"</if>
                                            value="0" >
                                            不启用 </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <div class="col-sm-2 "></div>
                                <div class="col-sm-10">
                                    <input type="hidden" name="id" value="{$admin['id']}" />
                                    <input type="submit" class="btn btn-secondary  btn-single" value="修改">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public/footer" />
    </div>
    <include file="Public/footer_Js" />